.form-group {
    margin-left: 200px;
    width: 25rem;
}

.but {
    position: absolute;
    margin-right: 14px;
}

.search {
    position: absolute;
    margin-top: 6px;
    right: 2rem;
}

.btn-hover {
    width: 180px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 40px;
    text-align: center;
    border: none;
    border-radius: 9px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-3 {
    background-image: linear-gradient(to right, #667eea, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(34, 28, 41, 0.75);
}

.galaxy {
    margin-top: 160px;
    margin-left: 110px;
}

.alexa {
    position: absolute;
    float: left;
    top: 12rem;
    margin-left: 20rem;
}

.slide {
    position: absolute;
    float: left;
    top: -1rem;
    padding-left: 5rem;
}

.card {
    position: relative;
    top: -3rem;
    left: 12rem;
}

.tech-card {
    position: relative;
    top: 35rem;
    left: -23rem;
}

.second {
    position: relative;
    right: 12rem;
}

.bg {
    height: 25rem;
    width: 100%;
    margin-top: 25rem;
    background-color: #dcecf1;
}

.img {
    border-radius: 28px;
    box-shadow: -25px 0 10px rgba(191, 158, 231, 0.5), 35px 0 10px rgba(204, 221, 231, 0.5) ,0 -20px 20px rgba(201, 171, 235, 0.5), 0 32px 40px rgba(164, 218, 240, 0.5);
}

.box {
    margin-top: 10rem;
}

.butt {
    border-color: #8E37D7;
    height: 2rem;
    width: 10rem;
    color: #8E37D7;
    margin-top: 1rem;
    margin-left: 1rem;
    border-radius: 2rem;
}

.third {
    margin-top: 10rem;
}

.float {
    margin-left: 43rem;
    margin-top: 10rem;
}

.dev {
    color: #8E37D7;
}

.four {
    justify-content: center;
}

.bord {
    border-style: dashed;
    border-color: #c39ee0;
    border-radius: 1rem;
    width: 100%;
    
    animation: move-right 2s linear infinite;
    /*move is keyframe name, 2s means two seconds,unlimited times play*/
    position: relative;
}

@keyframes move-right {
    0% {
        left: 0;
    }

    100% {
        transform: translateX(-20%);
    }
}

.fifth {
    color: #8E37D7;
    margin-top: 10rem;
    text-align: center;
}

.grow {
    position: absolute;
}

.footer {
    height: 10rem;
}

.copy {
    margin-left: 30rem;
}

.title {
    margin-top: 1rem;
    margin-left: 30rem;
}

.list {
    margin-left: 60rem;
    margin-top: -2rem;
}

.bits {
    background: linear-gradient(to right, rgba(168, 125, 218,0.8), rgba(191, 241, 239, 0.8), rgba(170, 218, 219, 0.1));
    border-top-right-radius: 105px;
    border-bottom-right-radius: 105px;
    width: 50rem;
    position: relative;
    height: 36rem;
    z-index: -1;
}

.bits::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 40%;
    width: 60%;
    height: 90vh;
    margin-top: 12px;
    margin-right: 122px;
    border-top-right-radius: 125px;
    border-bottom-right-radius: 105px;
    background: linear-gradient(to right, rgba(168, 125, 218,0), rgba(191, 241, 239, 0.4), rgba(170, 218, 219, 0.9));
    filter: blur(5px);
    transform: translateX(10%);
    animation: blur 54s linear infinite;
}

@keyframes blur {
    0% {
        transform: translateX(40%);
    }

    100% {
        transform: translateX(-20%);
    }
}

h1 {
    position: relative;
    z-index: 1;
}

.imag {
    margin-left: 70rem;
    position: absolute;
    margin-top: -5rem;
}

.awadh {
    animation: move 15s linear infinite;
    /*move is keyframe name, 2s means two seconds,unlimited times play*/
    position: relative;
}

@keyframes move {
    0% {
        top: 0px;
    }

    50% {
        top: 20px;
    }

    100% {
        top: 0px;
    }
}

.pink {
    width: 15rem;
    height: 15rem;
    background-color: rgb(176, 241, 241);
    filter: blur(30px);
    border-radius: 50%;
    top: -46px;
    position: relative;
    left: 57px;
}

.blue {
    width: 15rem;
    height: 15rem;
    background-color: #c99eeb;
    filter: blur(30px);
    border-radius: 50%;
    position: relative;
    top: -5rem;
    left: 150px;
}